@page "/"
@using Microsoft.EntityFrameworkCore
@using RocketShop.Database.EntityFramework
@using RocketShop.Database.Model.Warehouse.Views
@inject WarehouseContext context
@code{
    string sql = string.Empty;
    protected override void OnInitialized()
    {
      
    }
   
}
<PageTitle>Warehouse Admin Center</PageTitle>

<center>
    <h1>Rocket Shop</h1>
    <h2>Warehouse Admin Center</h2>
</center>

