@page "/"
@using RocketShop.Framework.Extension
@using RocketShop.Warehouse.Admin.ServicePermission
@using RocketShop.Warehouse.Admin.Services
@inject ITableInformationService tableInformationService
@code {
    int tableCount = 0;
    bool hasMinorException;
    protected override async Task OnInitializedAsync()
    {
        var countResult = await tableInformationService.CountCollections();
        if (countResult.IsLeft)
        {
            hasMinorException = true;
        }
        else
        {
            tableCount = countResult.GetRight();
        }
        StateHasChanged();
    }

}

<PageTitle>Warehouse Admin Center</PageTitle>


<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <AuthorizeView Policy="@PolicyNames.AppAdminName" Context="policied">
                <Authorized>
                    <link href="/Css/landing.css" rel="stylesheet" />
                    <div class="container">
                        <!-- Welcome Section -->
                        <div class="jumbotron text-center">
                            <h1 class="display-4">Welcome to Rocketshop Warehouse Admin Center</h1>
                            <p class="lead">Manage your data warehouse efficiently with the tools provided.</p>
                            <hr class="my-4">
                            <p>Click on the options below to manage your collections or credentials of the system.</p>
                        </div>
                        <div class="row" style="font-weight:bolder">
                            <div class="col">
                                <div class="card bg-primary" style="color:whitesmoke">
                                    <div class="card-body">
                                        <h2 style="text-align:left">Collections</h2>
                                        <br />
                                        <h3 style="text-align:right">@tableCount.ToString("#,##0")</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card bg-warning">
                                    <div class="card-body">
                                        <h2 style="text-align:left">UnSafe Client</h2>
                                        <br />
                                        <h3 style="text-align:right">12</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card bg-danger" style="color:whitesmoke">
                                    <div class="card-body">
                                        <h2 style="text-align:left">Incomplete Client</h2>
                                        <br />
                                        <h3 style="text-align:right">312</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Menu Section (Cards with Icons) -->
                        <div class="row text-center">
                            <!-- Manage Collection Card -->
                            <div class="col-md-4">
                                <div class="card shadow-lg">
                                    <div class="card-body">
                                        <i class="fas fa-database menu-icon text-primary"></i>
                                        <h5 class="card-title">Manage Collection</h5>
                                        <p class="card-text">Create, update, and organize your data collections.</p>
                                        <a href="\collections" class="btn btn-primary">Go to Manage</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Manage Credential Card -->
                            <div class="col-md-4">
                                <div class="card shadow-lg">
                                    <div class="card-body">
                                        <i class="fas fa-lock menu-icon text-secondary"></i>
                                        <h5 class="card-title">Manage Credential</h5>
                                        <p class="card-text">View and update credentials for secure data access.</p>
                                        <a href="\clients" class="btn btn-secondary">Go to Manage</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Logout Card -->
                            <div class="col-md-4">
                                <div class="card shadow-lg">
                                    <div class="card-body">
                                        <i class="fas fa-sign-out-alt menu-icon text-danger"></i>
                                        <h5 class="card-title">Logout</h5>
                                        <p class="card-text">Log out of the system safely.</p>
                                        <a href="/logout" class="btn btn-danger">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </Authorized>
                <NotAuthorized>Access Denied</NotAuthorized>
            </AuthorizeView>
        </Authorized>
        <NotAuthorized>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
            <link href="/Css/UnloggedIn.css" rel="stylesheet" />
            <div class="container">
                <div class="header">
                    <h1>Rocket Shop</h1>
                    <h2>Warehouse Admin Center</h2>
                </div>
                <div class="login-message">You're Not Logged In</div>
                <div class="sub-message">Please</div>
                <a href="/login" class="login-button">LOGIN</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</CascadingAuthenticationState>

