@using RocketShop.Database.Model.Warehouse.Authorization
@using RocketShop.Framework.Extension
@using RocketShop.SharedBlazor.SharedFunction
@using RocketShop.SharedBlazor.Tools
@using RocketShop.Warehouse.Admin.Services
@inject IHttpContextAccessor httpContextAccessor
@inject IClientServices clientServices

@code {
    [Parameter]
    public required long ClientId { get; set; }
    Client item = new Client();
    LoadingModal? loading;
    protected override async Task OnInitializedAsync()
    {
        var itemResult = await clientServices.GetClient(ClientId);
        item = itemResult.GetRight()!;
        StateHasChanged();
    }
    async Task Submit()
    {
        loading!.Open("Updating...");
        try
        {
            item.UpdateBy = httpContextAccessor.GetCurrentUserId();
            item.Updated = DateTime.UtcNow;
            var result = await clientServices.Update(item);
            if (result.IsLeft)
                throw result.GetLeft()!;
            await activityLogService.Create("Warehouse Admin", "Client", $"Update Token Information Of '{item.Id} : {item.ClientId}'");
            await loading.Then(true, "Success", "Update Success");
        }
        catch
        {
            await loading.Then(false, "Failed", "Update Failed");
        }
        finally
        {
            StateHasChanged();
        }
    }
}

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h2>Allowed Object & Expiration</h2>
        <div class="form-group">
            <label for="textarea">Allowed Collection</label>
            <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="text">Token Expiration</label>
            <div class="input-group">
                <input id="text" name="text" type="number" @bind-value="item.TokenExpiration" min="0" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text">Seconds</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="text1">Token Maxiumn Access</label>
            <div class="input-group">
                <input id="text1" name="text1" type="number" @bind-value="item.MaxinumnAccess" min="0" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text">Times</div>
                </div>
            </div>
        </div>
        <MudButton Variant="Variant.Filled" OnClick="Submit" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Save">Save Changes</MudButton>
    </div>
    <div class="col-1"></div>
</div>
<LoadingModal @ref="loading" />