@using RocketShop.Database.Model.Warehouse.Authorization
@using RocketShop.Framework.Extension
@using RocketShop.SharedBlazor.Condition
@using RocketShop.SharedBlazor.SharedFunction
@using RocketShop.SharedBlazor.Tools
@using RocketShop.Warehouse.Admin.Services
@inject IHttpContextAccessor httpContextAccessor
@inject ITableInformationService tableInformationService
@inject IClientServices clientServices

@code {
    [Parameter]
    public required long ClientId { get; set; }
    Client item = new Client();
    LoadingModal? loading;
    bool majorException,minorException;
    IEnumerable<string>? registerdCollections;
    protected override async Task OnInitializedAsync()
    {
        majorException = false;
        minorException = false;
        try
        {
            var itemResult = await clientServices.GetClient(ClientId);
            if (itemResult.IsLeft)
                throw itemResult.GetLeft()!;
            item = itemResult.GetRight()!;
            registerdCollections = new List<string>();
            var tableResult = await tableInformationService.ListTableNames();
            var viewResult = await tableInformationService.ListViewNames();
        }
        catch
        {
            majorException = true;
        }
        finally
        {
            StateHasChanged();
        }
    }
    async Task Submit()
    {
        loading!.Open("Updating...");
        try
        {
            item.UpdateBy = httpContextAccessor.GetCurrentUserId();
            item.Updated = DateTime.UtcNow;
            var result = await clientServices.Update(item);
            if (result.IsLeft)
                throw result.GetLeft()!;
            await activityLogService.Create("Warehouse Admin", "Client", $"Update Token Information Of '{item.Id} : {item.ClientId}'");
            await loading.Then(true, "Success", "Update Success");
        }
        catch
        {
            await loading.Then(false, "Failed", "Update Failed");
        }
        finally
        {
            StateHasChanged();
        }
    }
}
<NHIF Condition="majorException">
    <NoOperation>
        <NHIF Condition="minorException">
            <div class="alert alert-warning text-3xl font-bold" role="alert">
                This Current Operation ran With Problems.
                &nbsp;&nbsp;
                For a Better experience <button class="btn btn-link text-3xl font-bold" @onclick="OnInitializedAsync">Please Try Again.</button>
            </div>
        </NHIF>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>Allowed Object & Expiration</h2>
                <div class="form-group">
                    <label for="textarea">Allowed Collection</label>
                    <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="text">Token Expiration</label>
                    <div class="input-group">
                        <input id="text" name="text" type="number" @bind-value="item.TokenExpiration" min="0" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">Seconds</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1">Token Maxiumn Access</label>
                    <div class="input-group">
                        <input id="text1" name="text1" type="number" @bind-value="item.MaxinumnAccess" min="0" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">Times</div>
                        </div>
                    </div>
                </div>
                <MudButton Variant="Variant.Filled" OnClick="Submit" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Save">Save Changes</MudButton>
            </div>
            <div class="col-1"></div>
        </div>
    </NoOperation>
    <YesOperation>
        <center>
            <div class="alert alert-danger text-4xl font-bold" role="alert">Error While Gethering Current Client </div>
        </center>
    </YesOperation>
</NHIF>

<LoadingModal @ref="loading" />