@using Microsoft.AspNetCore.Components.Authorization
@using RocketShop.Framework.Extension
@inherits LayoutComponentBase
@inject IHttpContextAccessor accessor
@code{
    [CascadingParameter]
    AuthenticationState? authState { get; set; }
    string name = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        authState.If(x => x!.User.Identity!.IsAuthenticated,
             e =>
             {
                 name = accessor.HttpContext!.User.Identity!.Name!;
             }          
         );
    }
}
<div class="page" style="background-color:#CCFFFF">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 font-bold text-3xl" style="background-color:#99FFFF">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>@name</Authorized>
                    <NotAuthorized><a href="/login" target="_blank">Log In</a></NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
