

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public int Id { get; set; }
}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-3xl font-bold">@Name</h5>
        <button class="btn btn-primary mx-1"><i class="users icon" /></button>
        <button class="btn btn-warning mx-1"><i class="key icon" /></button>
        <button class="btn btn-danger mx-1"><i class="trash icon" /></button>
    </div>
</div>