@using Microsoft.EntityFrameworkCore
@using Npgsql
@using RocketShop.Database
@using RocketShop.Database.EntityFramework
@using RocketShop.Database.Model.Identity.Views
@using RocketShop.Framework.Extension
@using RocketShop.Database.Extension

@inject IdentityContext context;
@inject IConfiguration configuration;
@inject IHttpContextAccessor accessor;
@{
    ViewData["Title"] = "Home Page";
    string name = string.Empty;
    if (accessor.HttpContext.IsNotNull() && accessor.HttpContext!.User.Identity!.IsAuthenticated)
    {
        
    }

}

<div class="text-center">
    <h1 class="display-4">Welcome To Rocket Shop Identity Center</h1>
</div>
@if (accessor.HttpContext.IsNotNull() && accessor.HttpContext!.User.Identity!.IsAuthenticated)
{

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">You are NOT Logged In</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a asp-controller="home" asp-action="logout" class="card-link">Logout</a>
        </div>
    </div>
}
else
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">You are NOT Logged In</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a asp-controller="home" asp-action="login" class="card-link">Login</a>
        </div>
    </div>
}
