@using Microsoft.EntityFrameworkCore
@using Npgsql
@using RocketShop.Database
@using RocketShop.Database.EntityFramework
@using RocketShop.Database.Model.Identity.Views
@using RocketShop.Framework.Extension
@using RocketShop.Database.Extension
@using RocketShop.Identity.Service
@using System.Security.Claims

@inject IdentityContext context;
@inject IConfiguration configuration;
@inject IHttpContextAccessor accessor;
@inject IUserService userService;
@inject Serilog.ILogger logger;
@{
    ViewData["Title"] = "Home Page";
    string name = string.Empty;
    if (accessor.HttpContext.IsNotNull() && accessor.HttpContext!.User.Identity!.IsAuthenticated)
    {
        var userId = accessor.HttpContext.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)!.Value;
        var userResult = await userService.GetById(userId);
        if (userResult.IsLeft)
        {
            var x = userResult.GetLeft();
            logger.Error(x!.Message, x);
            name = "Error While Get User";
        }
        else
            name = userResult.GetRight().Tranform(x => $"{x!.Firstname} {x!.Surname}")!;
    }

}

<center>
    <h1>Rocket Shop</h1>
    <h2>Authenication And Account Center</h2>
</center>
@if (accessor.HttpContext.IsNotNull() && accessor.HttpContext!.User.Identity!.IsAuthenticated)
{
    <h1>Hi @name</h1>
    <br />
    <div class="row">
        <div class="col">
            <a href="Profile" class="btn btn-primary btn-block">View My Profile</a>
        </div>
        <div class="col">
            <a href="Password" class="btn btn-warning btn-block">Change Password</a>
        </div>
        <div class="col">
            <a href="home/logout" class="btn btn-secondary btn-block">Logout</a>
        </div>
    </div>
    <h2 >Our Application</h2>
    <div class="row">
        <div class="col">
            <a href="Application/HR" class="btn btn-info btn-block">HR</a>
        </div>
        <div class="col">
            <a href="/" class="btn btn-success btn-block">Retail</a>
        </div>
        <div class="col">
            <a href="/" class="btn btn-danger btn-block">Repair Shop</a>
        </div>
    </div>
}
else
{
    <h1>You are Not Logged In</h1>
    <h2>Please Login Below</h2>
    <a href="home/login" class="btn btn-primary">Login</a>
}
