@using Microsoft.EntityFrameworkCore
@using Npgsql
@using RocketShop.Database
@using RocketShop.Database.EntityFramework
@using RocketShop.Database.Model.Identity.Views
@using RocketShop.Framework.Extension
@using RocketShop.Database.Extension
@using RocketShop.Identity.Service
@using System.Security.Claims

@inject IdentityContext context;
@inject IConfiguration configuration;
@inject IHttpContextAccessor accessor;
@inject IUserService userService;
@inject Serilog.ILogger logger;
@{
    ViewData["Title"] = "Home Page";
    string name = string.Empty;
    if (accessor.HttpContext.IsNotNull() && accessor.HttpContext!.User.Identity!.IsAuthenticated)
    {
        var userId = accessor.HttpContext.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)!.Value;
        var userResult = await userService.GetById(userId);
        if (userResult.IsLeft)
        {
            var x = userResult.GetLeft();
            logger.Error(x!.Message, x);
            name = "Error While Get User";
        }
        else
            name = userResult.GetRight().Tranform(x => $"{x!.Firstname} {x!.Surname}")!;
    }

}

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
@if (accessor.HttpContext.IsNotNull() && accessor.HttpContext!.User.Identity!.IsAuthenticated)
{
   
    <link href="~/css/landing.css" rel="stylesheet"/>

    <div class="container">
        <div class="header">
            <h1>Rocket Shop</h1>
            <h2>Authentication And Account Center</h2>
        </div>
        <div class="greeting">Hi @name</div>
        <div class="action-buttons" style="font-weight:bolder">
            <a href="Profile" class="btn btn-primary btn-lg btn-block mx-2">View My Profile</a>
            <a href="Password" class="btn btn-warning btn-lg btn-block mx-2" style="color:white">Change Password</a>
            <a href="home/logout" class="btn btn-secondary btn-lg btn-block mx-2">Logout</a>
        </div>
        <div class="section-title">Our Application</div>
        <div class="app-buttons">
            <a href="Application/HR" class="app-button hr-button">HR</a>
            <a href="Application/Retail" class="app-button retail-button">Retail</a>
            <a href="/" class="app-button repair-button">Repair Shop</a>
            <a href="Application/WHAdmin" class="app-button warehouse-button">Warehouse Admin</a>
        </div>
    </div>

   
}
else
{
    <link href="~/css/UnloggedIn.css" rel="stylesheet" />
    <div class="container">
        <div class="header">
            <h1>Rocket Shop</h1>
            <h2>Authentication And Account Center</h2>
        </div>
        <div class="login-message">You are Not Logged In</div>
        <div class="sub-message">Please Login Below</div>
        <a href="home/login" class="login-button">Login</a>
    </div>
}
