@using Microsoft.EntityFrameworkCore
@using RocketShop.Database.EntityFramework
@using RocketShop.Database.Model.Identity.Views
@using RocketShop.Framework.Extension

@inject IdentityContext context;
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome To Rocket Shop Identity Center</h1>
</div>
