@code {
    [Parameter]
    public string IconClass { get; set; }
}
<div style="margin-right:18px">
    <i class="@IconClass" ></i>
</div>
<style>
   mydiv{
        margin: 0px 16px 0px 0px;
    }
</style>