@page "/logout"
@using Microsoft.AspNetCore.Identity
@using RocketShop.Database.Model.Identity
@using RocketShop.Shared.SharedService
@inject NavigationManager navigationManager
@inject IUrlIndeiceServices urlIndeiceServices
@inject SignInManager<User> signInManager;
@inject IHttpContextAccessor accessor;
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {

        await signInManager.SignOutAsync();
        navigationManager.NavigateTo("/", true);
    }
}
