@inject IConfiguration configuration
@using RocketShop.Shared.Helper;
@code {

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RocketShop.HR.styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <script>
        function Failed(message, header = 'Sorry...') {
            Swal.fire({
                icon: 'error',
                title: header,
                text: message,
            });

        }
        function Success(message, header = 'congratulations') {
            Swal.fire({
                icon: 'success',
                title: header,
                text: message,
            });
        }
        function Raw(icon, header, detail) {
            Swal.fire({
                icon: icon,
                title: header,
                text: detail
            });
        }
        function Raw(icon, header, detail, footer) {
            Swal.fire({
                icon: icon,
                title: header,
                text: detail,
                footer: footer
            });
        }
        function RawWithHtml(icon, header, detail) {
            Swal.fire({
                title: header,
                icon: icon,
                html:
                    detail
            });
        }
        function RawWithTimer(icon, header, detail, timer) {
            Swal.fire({
                icon: icon,
                title: header,
                Text: detail,
                showConfirmButton: false,
                timer: timer
            });
        }
        function RawWithNavigate(icon, header, detail, link, ButtonColor = '#3085d6', ButtonText = 'Ok') {
            Swal.fire({
                title: header,
                text: detail,
                icon: icon,
                showCancelButton: false,
                confirmButtonColor: ButtonColor,
                confirmButtonText: ButtonText
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = link;
                }
            })
        }

    </script>
    <style>
        .table {
            text-align: center;
        }
    </style>
    <HeadOutlet />
</head>

<body>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
