@using RocketShop.SharedBlazor.Modal
@using RocketShop.SharedBlazor.Modal.ModalCompenment
@using RocketShop.Warehouse.Admin.Services
@inject IHttpContextAccessor httpContextAccessor
@inject IClientServices clientServices

@code {
    Modal e;
    public void Open()
    {
        e.Show();
    }

}

<Modal @ref="e" Title="Create Client">
    <ModalBody>
        <div class="form-group">
            <label for="text">Client Id</label>
            <input id="text" name="text" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="text1">Client Name</label>
            <input id="text1" name="text1" type="text" class="form-control">
        </div>
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary"><i class="plus icon" />Create Client</button>
    </ModalFooter>
</Modal>