@page "/upload-main-category"
@using MudBlazor
@using RocketShop.Framework.Extension
@using RocketShop.Retail.Model
@using RocketShop.Retail.Service
@using RocketShop.Shared.Constraint
@using RocketShop.Shared.SharedService.Scoped
@using RocketShop.SharedBlazor.Condition
@using RocketShop.SharedBlazor.Domain
@using RocketShop.SharedBlazor.Table
@using RocketShop.SharedBlazor.Tools
@using static RocketShop.Retail.Model.MainCategoryExcelModelExtensions
@inject ICategoryServices categoryService
@inject IImportExcelServices importService
@inject ILogger<UploadMainCategory> logger;
@code {
    bool isUploaded = false,
       hasCorrupt = false;
    int corruped = 0;
    List<MainCategoryExcelModelValidator> mainCategoryExcelModelValidators = new List<MainCategoryExcelModelValidator>();

    const string Headers = "Name_TH;Name_EN;Description";
    LoadingModal? loadingModal;
    List<BreadcrumbItem> items = new List<BreadcrumbItem>
    {
    new BreadcrumbItem("Home", href: "/"),
    new BreadcrumbItem("Category",  href: "/categories"),
    new BreadcrumbItem("Upload",  href: null,disabled:true)
    };
    List<ModelDescription> descriptions = new List<ModelDescription>()
    {
        new ModelDescription("Name_TH","Text","Category Name",true),
        new ModelDescription("Name_EN","Text","Category Name (English Only)",true),
        new ModelDescription("Description","Text","Category Description",false)
    };
    private async Task UploadFiles(IBrowserFile file)
    {
        loadingModal!.Open("Uploading 0%");
        if (!file.ContentType.InCaseSensitiveEquals(FileContentTypeConstraint.Spreadsheet))
        {
            await loadingModal!.Then(false, "Error", "Invalid file type");
            return;
        };
        try{
            loadingModal.SetText("Uploading 10%");
            using  var stream = file.OpenReadStream(5120000);
            loadingModal.SetText("Uploading 12%");
            using var ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            loadingModal.SetText("Uploading 20%");
            var data = ms.ToArray();
            loadingModal.SetText("Uploading 30%");
            var excelDataResult = await importService.ReadExcelAsync(data);
            if (excelDataResult.IsLeft)
            {
                var ex = excelDataResult.GetLeft()!;
                logger.LogError(ex, ex.Message);
                throw ex;
            };
            loadingModal.SetText("Uploading 54%");
            var items = excelDataResult.GetRight()!.ToEnumerable<MainCategoryExcelModel>();
            var result = await categoryService.ValidateExcelData(items);
            loadingModal.SetText("Uploading 68%");
            if (result.IsLeft)
            {
                var ex = result.GetLeft()!;
                logger.LogError(ex, ex.Message);
                throw ex;
            };
            loadingModal.SetText("Uploading 78%");
            mainCategoryExcelModelValidators = result.GetRight()!;
            loadingModal.SetText("Uploading 90%");
            loadingModal!.Close();
            isUploaded = true;
        }
        catch(Exception x){
            logger.LogError(x, x.Message);
            await loadingModal!.Then(false, "Error", "An error occurred while uploading the file");
        }
        finally{
            StateHasChanged();
        }
    }
}
<CascadingAuthenticationState>
    <AuthorizeView Policy="@ServicePermission.PolicyNames.SellerManager">
        <Authorized>
            <br />
            <br />
            <MudBreadcrumbs Items="items" />
            <br />
            <br />
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <center>
                        <h1 class="text-3xl font-bold">Upload Main Category</h1>
                    </center>
                    <br />
                    <br />
                    <h2 class="text-xl font-semibold">Excel Data</h2>
                    <br />
                    <br />
                     <NHIF Condition="isUploaded">
                        <NoOperation>
                            <NHModelDescriptionTable Descriptions="descriptions" />
                        </NoOperation>
                        <YesOperation>

                        </YesOperation>
                    </NHIF>
                    <MudFileUpload T="IBrowserFile" Accept="@FileExtensionConstraint.SpreadSheet" FilesChanged="UploadFiles">
                        <ActivatorContent>
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.TableRows">
                                Upload Excel Files
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>

                </div>
                <div class="col-1"></div>
            </div>
        </Authorized>
        <NotAuthorized>
            <RocketShop.SharedBlazor.Page.AccessDenied />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
<LoadingModal @ref="loadingModal" />