@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@inherits LayoutComponentBase
@using RocketShop.Framework.Extension
@using RocketShop.SharedBlazor.SharedBlazorServices.Scope
@inject IHttpContextAccessor accessor
@inject ISharedUserServices sharedUserServices
@inject ILogger<MainLayout> logger

@code{
    string username = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if ((state != null).And(state!.User.Identity!.IsAuthenticated))
            {
                var userId = accessor.GetCurrentUserId();
                var userResult = await sharedUserServices.GetUser(userId!);
                if(userResult.IsLeft)
                    throw userResult.GetLeft()!;
                var user = userResult.GetRight()!;
                username = $"{user.Firstname} {user.Surname}";
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Error on MainLayout");
        }
        finally
        {
            StateHasChanged();
        }
    }
}

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                   <CascadingAuthenticationState>
                       <AuthorizeView>
                            <Authorized>
                             @username
                            </Authorized>
                            <NotAuthorized>
                                <a href="/login">Login</a>
                                </NotAuthorized>
                            </AuthorizeView>
 
                    </CascadingAuthenticationState>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
