@using Microsoft.AspNetCore.Components.Authorization
@using RocketShop.Retail.ServicePermission
<link rel="stylesheet" href="/Css//Navbar.css" />
<div class="sidebar">
    <br />
    <h3 style="color: #edeeef; text-align:center">Rocket Shop Retail</h3>
    <CascadingAuthenticationState>
        <AuthorizeView Policy="@PolicyNames.AllSeller">
            <Authorized>
                <nav class="nav-menu">
                    <ul>
                        <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                        <li><a href="/categories"><i class="fa-solid fa-list"></i> Categories</a></li>
                        <li><a href="/products"><i class="fa-solid fa-cube"></i> Products</a></li>
                        <li><a href="/orders"><i class="fa-solid fa-inbox"></i> Orders</a></li>
                        <li><a href="/stocks"><i class="fa-solid fa-warehouse"></i> Stocks</a></li>
                        <li><a href="/sales"><i class="fa-solid fa-cash-register"></i> Sales</a></li>
                        <li><a href="/report"><i class="fa-solid fa-chart-simple"></i> Reports</a></li>
                        <li><a href="/settings"><i class="fa-solid fa-gear"></i> Settings</a></li>
                    </ul>
                </nav>
                <div class="logout">
                    <a href="/logout"><i class="fa-solid fa-person-running"></i> Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <nav class="nav-menu">
                    <ul>
                        <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                    </ul>
                </nav>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>

</div>
